.navbar{
	background-color: #ffffff;
	font-size: 17px;
}

.navbar-brand{
	/*background-color: #edcbe9;*/
	margin-top:-11px;
}

#mini_profile{
	text-align: center;
}



#top-title{
	text-align: center;
}


#top-title h4{
font-family: 'Fjalla One', sans-serif;

}

#top-title h1{

font-family: 'Russo One', sans-serif;
}

.card h3{

	font-family: 'Fjalla One', sans-serif;

}

.left-half-contact {
  background-color: rgba(112,149,251,0.8);
  position: absolute;
  left: 0px;
  width: 50%;
  height: 500px;
}

.right-half-contact {
  color: rgb(112,149,251);
  background-color: rgba(64,64,151,0);
  position: absolute;
  right: 0px;
  width: 50%;
  height: 500px;
}

.left-half-profile{
  background-color: rgba(112,149,251,0.8);
  position: absolute;
  left: 4%;
  width: 45%;
  height: 600px;
}

.right-half-profile{
  background-color: rgba(112,149,251,0.8);
  position: absolute;
  right: 4%;
  width: 45%;
  height: 600px;
}

.button-profile {
	zoom: 1.5;
	background-color: rgb(46,46,153);
	color: #fff;
	border-width: 0px;
	border-radius: 5px;
	font-weight: 300;
  cursor: pointer;
}

.button-contact {
	zoom: 1.5;
	background-color: rgb(112,149,251);
	color: #fff;
	border-width: 0px;
	border-radius: 5px;
	font-weight: 300;
  cursor: pointer;
}

form{
	text-align: center;
	color:black;
}
html,  body{
	height: 100%;
	width:100%;
}

.navbar{
	background-color: #ffffff;
	font-size: 17px;
}

.navbar-brand{
	/*background-color: #edcbe9;*/
	margin-top:-11px;
}

/*for the menu links default
*/

.navbar-default .navbar-nav li a{


}

.navbar-default .navbar-nav li a:hover{


}

#one{
padding-top: 50px;
	background: url(home1.jpg) no-repeat center center fixed;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size: cover;
}

#two{
background-color: rgba(29, 80, 220, 0.5);
}

.landing-text{
	/*display: table-cell;
	text-align: center;
	vertical-align: middle;
	padding-top: 50px;*/
	text-align: center;
	padding-top: 200px

}

.landing-text h1{
	font-size: 500%;
	color: rgb(97, 131, 223);

}

.landing-text h3{

	color: rgb(97, 131, 223);
}

.card{

	background-color: rgba(97, 131, 223, 0.5);
	border-radius: 10px;
	padding-bottom: 10px;
	left:50%;
	
}

.card1{
	background-color: rgba(97, 131, 223, 0.5);
	border-radius: 50px;
	padding: 20px;
	
}
.card-body h3{
	
	padding-top: 10px;
	text-align: center;
	

	
}

.modal-content{
	text-align: center;
}
.card-body p{
	
	text-align: center;
}


#log_button{
	background-color: rgb(107, 203, 207);
	color: white;
	text-align: center;
	margin:auto;
    display:block;


}

#register_button{
	
	text-align: center;
	


}

#regi{
	text-align: center;
	color:black;
}


#share-buttons img {
    width: 50px;
    padding: 5px;
    display: inline;

    }


    #mini_profile{
	text-align: center;
}

#home_headers{

	color: #ffffff;
	font-family: 'Raleway', sans-serif;
	

}

#home_headers h4{

	padding-top: 20px;
	font-family: 'Raleway', sans-serif;

}

#top-title{
	text-align: center;
}


#top-title h4{
font-family: 'Fjalla One', sans-serif;
padding-bottom: 20px;

}

#top-title h1{

font-family: 'Raleway', sans-serif;
font-weight: bold;

}

#pref_form{
	margin-left: 150px;
	margin-right: 150px;
}

.card h3{

	font-family: 'Fjalla One', sans-serif;

}


#home_cards .card{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#maincontainer{
	margin: -40px;
	background: linear-gradient(#7fa5e2, #ffffff);
}

#mini_profile{
	text-align: center;
}

#home_headers{

	color: #ffffff;
	font-family: 'Raleway', sans-serif;
	

}

#home_headers h4{

	padding-top: 20px;
	font-family: 'Raleway', sans-serif;

}

#top-title{
	text-align: center;
}


#top-title h4{
font-family: 'Fjalla One', sans-serif;
padding-bottom: 20px;

}

#top-title h1{

font-family: 'Raleway', sans-serif;
font-weight: bold;

}

#pref_form{
	margin-left: 150px;
	margin-right: 150px;
}

.card h3{

	font-family: 'Fjalla One', sans-serif;

}


#home_cards .card{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#maincontainer{
	margin: -40px;
	background: linear-gradient(#7fa5e2, #ffffff);
}


